 body {
            background-color: oklch(96.018% 0.00343 38.059);
            
        }
        h1 {
            color: #34e1d9;
            text-align: center;
            font-family: Arial, sans-serif;
        }
        h2 {
            color: #34e1d9;
        
            font-family: Arial, sans-serif;
            
        }